{{> header}}
{{> dashboardnav}}
<div class="col">
    <div class="container" style="text-align: center;">
        <h1>Bienvenido al Dashboard!</h1>
    </div>
</div>
</div>
</div>
{{> packages}}
{{> footer}}